body{
    background-color: lightgray;
}

a{
    animation-name: link_animation;
    animation-duration: 2s;
}

@keyframes link_animation {
    from{
        color: blue;
    }
    to{
        color: brown;
    }
}